name: "Build and Test"
on:
  pull_request:
    paths-ignore:
      - '*.md'
    types:
      - synchronize
      - opened

jobs:
  review:
    name: "JVM/JS Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: gradle
      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1
      - name: Run tests
        run: ./gradlew ktlintCheck jvmTest jsNodeTest jsBrowserTest --no-build-cache

  android:
    name: "Android Unit Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: gradle
      - name: Setup Android SDK
        uses: android-actions/setup-android@v2
      - name: Run Android unit tests
        run: ./gradlew testDebugUnitTest testReleaseUnitTest --no-build-cache

  apple:
    name: "Apple Target Tests"
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: gradle
      - name: Cache Konan
        uses: actions/cache@v4
        with:
          path: ~/.konan
          key: konan-${{ runner.os }}-${{ hashFiles('gradle/libs.versions.toml') }}
          restore-keys: konan-${{ runner.os }}-
      - name: Run tests
        run: ./gradlew macosArm64Test iosSimulatorArm64Test --no-build-cache

  linux:
    name: "Linux Native Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install io_uring and OpenSSL
        run: |
          sudo apt-get update
          sudo apt-get install -y liburing-dev libssl-dev
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: gradle
      - name: Cache Konan
        uses: actions/cache@v4
        with:
          path: ~/.konan
          key: konan-${{ runner.os }}-${{ hashFiles('gradle/libs.versions.toml') }}
          restore-keys: konan-${{ runner.os }}-
      - name: Run tests
        run: ./gradlew linuxX64Test --no-build-cache

