name: "Build and Test"
on:
  pull_request:
    paths-ignore:
      - '*.md'
    types:
      - synchronize
      - opened

jobs:
  review:
    name: "JVM/JS Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: gradle
      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1
      - name: Run tests
        run: ./gradlew ktlintCheck jvmTest jsNodeTest jsBrowserTest --no-build-cache
