name: "Build and Test"

on:
  pull_request:
    paths-ignore:
      - '*.md'
    types:
      - synchronize
      - opened

jobs:
  review-jvm-js:
    name: JVM & JS Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: gradle
      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v1
      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v4
      - name: Run ktlint and tests
        run: ./gradlew ktlintCheck jvmTest jsNodeTest jsBrowserTest wasmJsNodeTest wasmJsBrowserTest

  review-apple:
    name: Apple Target Tests
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: gradle
      - name: Konan cache
        uses: actions/cache@v4
        with:
          path: ~/.konan
          key: konan-${{ runner.os }}-${{ hashFiles('**/*.gradle*', 'gradle/libs.versions.toml') }}
          restore-keys: |
            konan-${{ runner.os }}-
      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v4
      - name: Run Apple tests
        run: ./gradlew macosArm64Test iosSimulatorArm64Test

  review-linux:
    name: Linux Target Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: gradle
      - name: Konan cache
        uses: actions/cache@v4
        with:
          path: ~/.konan
          key: konan-${{ runner.os }}-${{ hashFiles('**/*.gradle*', 'gradle/libs.versions.toml') }}
          restore-keys: |
            konan-${{ runner.os }}-
      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v4
      - name: Run Linux tests
        run: ./gradlew linuxX64Test
